@charset "utf-8";
/* CSS Document */

@font-face {
  font-family: gameOver;
  src: url(font/ARCADECLASSIC.TTF);
}

.html {
    height: 100%;
}

.body {
  margin: 0;
/*  min-height: 100%; */

}

.div {
  font-family: gameOver;
}

.h1 {
	font-family: gameOver;
  	font-size: 6.6em;
	
}

.h2 {
	font-family: gameOver;
  	font-size: 2.3em;
}


.div {
  display: flex;
}

.marginAuto {
	margin: 0 auto;
}

#content {
  margin-left: auto;
  margin-right: auto;
  display: block;
  touch-action: none;
  width: 700px;
}


.a {
  border-radius: 10px;
  margin: 1em 3em 0 3em;
  position: absolute;
  bottom: 1em;
}

.a:hover {
  background-color: #ccc;
}

#one {

}

#two {

}

.img {
    max-width: 100%;
    max-height: 100%;
}

.portrait {
    height: 80px;
    width: 30px;
}

.landscape {
    height: 30px;
    width: 80px;
}

.square {
    height: 400px;
    width: 400px;
}
